# AWS Key Pairs
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# Spark
spark-warehouse/
metastore_db/
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
poc-instances-*.txt
